@import "../mainStyle";

@media screen and (min-width: 320px) {
    .footer{
        background-color: $primary_color;
        text-align: center;
    }

    .footer .footerLogo{
        padding: 3rem 0;
    }

    .footer ul{
        padding: 1rem 0;
        color: $main_text_color2;
        font-family: $main_font;
        cursor: pointer;
        list-style-type: none;
    }

    .websiteInfoFooter{
        border-top: 1px solid $main_text_color2;
    }

    .footer .websiteContentFooter>a{
        padding-bottom: 0.7rem;
        color: $main_text_color2;
    }
    
    .footer .websiteContentFooter>a:hover{
        color: $hovering_color;
    }

    .paddingFooter{
        width: fit-content;
        margin-left: 6rem;
        margin-right: 6rem;
    }
    
}

@media screen and (min-width: 768px) {
    .footer .footerLogo{
        padding: 11rem 0;
    }
    
}

@media screen and (min-width: 1200px) {
    .footer .footerLogo{
        text-align: inherit;
    }

    .footer ul{
        padding: 5rem 0;
    }

    .paddingFooter{
        margin-left: 3rem;
        line-height: 1.6rem;
        padding-left: 4rem;
        margin-right: 0;
        width: auto;
    }

    .websiteContentFooter{
        width: inherit;
        margin-left: 0;
    }
}

.footer .borders{
    border-right: 2px solid $main_text_color2;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.footer .websiteInfoFooter>li{
    padding-bottom: 3rem;
}

.websiteInfoFooter{
    border: 0;
}

.footer .socialMediaIcons{
    color: $main_text_color2;
    padding-left: 2rem;
}

.footer .socialMediaIcons:hover{
    color: $hovering_color;
}

.footer .smallFooter{
    background-color: $main_text_color1;
}

.footer .smallFooter>p{
    color: $main_text_color2;
    text-align: center;
}