@import "mainStyle";

@media screen and (min-width: 320px) {
    .mainDesc{
        background-color: $primary_color;
        color: $main_text_color2;
        padding: 3rem 1rem;
    }

    .contactHeader{
        border-bottom: 3px solid $main_button_color;
        border-width: thick;
        color: $main_text_color2;
        font-size: 1.3rem;
    }

    .mainDesc .mailContent, .mainDesc .phoneContent, .mainDesc .addressContent{
        padding: 2rem 0;
    }

    .getDirectionsContent{
        text-align: center;
    }

    .getDirectionsBtn{
        background-color: $main_button_color;
        border: 0;
        color: $main_text_color2;
        padding: 0.5rem 2rem;
    }

    .getInTouch{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .getInTouch .getInTouchHeader{
        border-bottom: 2px solid $main_button_color;
        border-width: thick;
        font-size: 1.5rem;
    }

    .getInTouchSelection select{
        cursor: pointer;
        padding: 0.5rem;
        margin-left: 0;
        width: 100%;
    }

    .getInTouchSelection{
        padding: 1.5rem 0 0 0;
    } 
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
    .contactHeader{
        font-size: 2rem;
        position: absolute;
        top: 18%;
        left: 10%;
    }
    
    .mainDesc{
        padding: 0;
    }
    
    .mainDesc .mailContent{
        padding: 3rem 0;
        position: absolute;
        top: 30%;
        left: 10%;
    }
    
    .mainDesc .phoneContent{
        padding: 3rem 0;
        position: absolute;
        top: 30%;
        left: 40%;
    }
    
    .mainDesc .addressContent{
        padding: 5rem 0;
        position: absolute;
        top: 40%;
        left: 10%;
    }
    
    .mailContent span, .phoneContent span, .addressContent span{
        padding-left: 1rem;
    }

    .getDirectionsContent{
        text-align: inherit;
    }

    .getDirectionsBtn{
        position: absolute;
        top: 60%;
        left: 60%;
    }

    .getInTouch{
        margin-left: 0;
        margin-right: 0;
    }

    .getInTouch .getInTouchHeader{
        font-size: 2rem;
    }

    .getInTouchHeader, .getInTouchSelection{
        margin-left: 1rem;
    }

    .getInTouchSelection select{
        margin-left: 1rem;
        width: inherit;
    }

    .getInTouchSelection{
        padding: 3rem 0 0;
    }
    
    .containerGetInTouch{
        margin-left: 8.5rem
    }
}


#positionsOptions{
    width: 100%;
}

.uploadInput{
    border: 1px solid #696969;
    margin-left: 1rem;
}
