@import "mainStyle";


.ourWorkSection{
    background-color: $primary_color;
}

.ourWorkSection span, .ourClientsSection span{
    border-bottom: 3px solid $main_button_color;
    border-width: thick;
    font-size: 2rem;
}

.ourWorkSection span{
    color: $main_text_color2;
}

.ourClientsSection span{
    color: $main_text_color1;
}

.ourWorkSection {
    box-sizing: border-box;
  }
  
.ourWorkDetails {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-top: 5rem;
}
  
/* Create four equal columns that sits next to each other */
.column, .column2 {
    flex: 25%;
    max-width: 50%;
    padding: 0 4px;
}
  
.column2{
    vertical-align: middle;
}
  
.column img, .column2 img {
    margin-top: 8px;
    vertical-align: middle;
}

@media screen and (min-width: 320px) {
    .centeredText{
        text-align: center;
    }

}
  
/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column, .column2 {
      flex: 50%;
      max-width: 50%;
    }
}
  
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column, .column2 {
      flex: 100%;
      max-width: 100%;
    }
}

@media (min-width: 768px) {

    div.haveAnIdea.desktop{
        display: none;
    }

    .haveAnIdeaMobile{
        display: block;
    }

    .haveAnIdeaContent {
        text-align: center;
    }
}

@media (min-width: 1200px) {
    .column2{
        margin-top: 5rem;
    }

    .centeredText{
        text-align: inherit;
    }

    div.haveAnIdea.desktop{
        display: block;
    }

    .haveAnIdeaMobile{
        display: none;
    }
}

.ourClientsSection .firstClientsRow{
    margin-top: 5rem;
}
  