@import "mainStyle";

@media screen and (min-width: 320px) {
    .services{
        background-color: $primary_color;
        color: $main_text_color2;
    }

    .services h3{
        margin-bottom: 3rem;
    }

    .services span{
        border: 1px solid #8dbaff;
        padding: 0.2rem 1rem;
        margin-left: 0.5rem;
    }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
}



.technologiesUsed img{
    margin-right: 1rem;
}

.technologiesSection p{
    color: $main_button_color;
    font-size: 2rem;
    text-align: center;
}

.technologiesSection .technologiesImage{
    text-align: center;
    margin-top: 3rem;
}

.technologiesSection .carousel-item{
    text-align: center;
    margin-top: 3rem;
}

.technologiesSection .carousel-indicators, .technologiesSection .carousel-inner{
    position: inherit;
}

.technologiesSection .carousel-indicators li{
    background-color: #8dbaff;
}

.technologiesSection .sharingIcons{
    text-align: center;
    margin-top: 3rem;
}

.sharingIcons a{
    color: $main_text_color2;
    background-color: $primary_color;
    padding: 0.5rem;
    margin-left: 0.3rem;
}

.sharingIcons a:hover{
    background-color: $main_button_color;
}