@import "mainStyle";

@media screen and (min-width: 320px) {
    .ourServices, .developmentService{
        background-color: $primary_color;
        color: $main_text_color2;
    }

    .ourServices{
        text-align: center;
    }

    .ourServices span{
        color: $main_text_color2;
        font-size: 1.5rem;
        border-bottom: 3px solid $main_button_color;
        border-width: thick;
        padding-bottom: 0.5rem;
    }

    .ourServices .row{
        padding-top: 1rem;
    }

    .companyProfileMobile{
        background-color: $primary_color;
        color: $main_text_color2;
        text-align: center;
    }

    .companyProfileMobile button{
        border: 0;
        background-color: #4285f4;
        color: #ffffff;
        padding: 0.5rem 2rem;
    }

    .ourProducts{
        text-align: center;
    }

    .ourProducts span, .technologies span, .developmentService span{
        font-size: 1.4rem;
        border-bottom: 3px solid $main_button_color;
        border-width: thick;
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;
        // width: fit-content;
    }

    .technologies, .developmentService{
        text-align: center;
    }

    .technologies span, .developmentService span{
        line-height: 2;
    }

    .haveAnIdeaMobileSpecial{
        background-color: $main_text_color2;
        color: $main_text_color1;
    }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
    .ourServices{
        text-align: inherit;
    }

    .ourServices span{
        font-size: 2.5rem;
    }

    .ourServices .row{
        padding-top: 3rem;
    }

    .ourServices p{
        padding-left: 1rem;
        border-left: 3px solid $main_button_color;
        border-width: thick;
        margin-left: 2.5rem;
        width: fit-content;
    }

    .companyProfile h1{
        color: $main_text_color2;
    }

    .ourProducts{
        text-align: inherit;
    }

    .ourProducts span, .technologies span, .developmentService span{
        font-size: 2.5rem;
    }

    .technologies, .developmentService{
        text-align: inherit;
    }

    .technologies span, .developmentService span{
        line-height: 1.5;
    }

    .developmentService .row{
        padding-top: 3rem;
    }    
}

.technologiesContainer{
    padding: 4rem;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 3rem;
  }
  
  .flex-container > div {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  