<!DOCTYPE html>
<html>
    <head>
        <title>ADD PLUSES</title>
        <meta charset="utf-8">
        <meta name="description" content="ADD pluses is a fully integrated creative technology house based in Cairo, Egypt, we have been passionate about helping brands and 
        startups embrace new technologies on the web, social media and mobile phones.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../build/style/whatWeDo.css">
        <link rel="stylesheet" href="../../build/style/whoWeAre.css">
        <link rel="stylesheet" href="../../build/style/whyUs.css">
        <link rel="stylesheet" href="../../build/style/careers.css">        
        <link rel="stylesheet" href="../../build/style/home.css">
        <link rel="stylesheet" href="../../build/style/mainStyle.css">
        <link rel="stylesheet" href="../../build/style/header.css">
        <link rel="stylesheet" href="../../build/style/menu/footer.css">
        <!-- <link rel="import" href="../templates/menu/header.html"> -->
        <link rel="icon" href="../../assets/fav.ico">

    </head>
    <body>
        <!-- Header Component -->
        <nav class="navbar navbar-expand-md navbar-dark" id="myHeader">
            <a href="/index.html" class="navbar-brand"><img src="../../assets/websiteLogo.png" alt="websiteLogo"></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="/whoWeAre.html" class="nav-item nav-link tablinks" style="color: #fff">WHO WE ARE</a>
                    <a href="/whyUs.html" class="nav-item nav-link tablinks" style="color: #fff">WHY US</a>
                    <a href="/whatWeDo.html" class="nav-item nav-link tablinks" style="color: #fff">WHAT WE DO</a>
                    <a href="/ourWork.html" class="nav-item nav-link tablinks" style="color: #fff">OUR WORK</a>
                    <a id="selectedLink" href="/careers.html" class="nav-item nav-link tablinks" style="color: #fff">CAREERS</a>
                    <a href="/contactUs.html" class="nav-item nav-link tablinks intouch" style="color: #fff">GET IN TOUCH</a>
                </div>
            </div>
        </nav>
        <!-- End Of Header Component -->
        <hr class="my-0">

        <!-- careers content -->
        <div class="careersContent">
            <!-- main content section-->
            <div class="mainDesc">
                <img class="desktop" src="../../assets/whoweareBg.png" alt="whoweareBg" style="width: 100%;">
                <img class="addPlusesLogo" src="../../assets/add-pluses-logo.png" alt="add pluses logo">
                <p class="mainDescription">We are looking for creative enthusiastic people who can take an idea seriously and develop it into a fully deployed project; a team player who can communicate constructively, Listen, work as a problem-solver and show commitment to the team.
                        If you think you have what it takes, please send your CV along with a collection of your best work to jobs@addpluses.com with the job code in the subject.</p>
            </div>
            <!-- End of main content section-->
    
            <!-- careers details -->
            <div class="careers">
                <div class="container py-5">
                    <div class="careersDetails">
                        <button class="collapsible">UI/ UX Developer</button>
                        <div class="content">
                            <div class="row m-0">
                                <div class="col-md-5">
                                    <p>Job Description:</p>
                                    <ul class="listDetails">
                                        <li>Develop Web and mobile applications User Interface.</li>
                                        <li>Creating Web / Mobile Interface prototypes / Wireframes.</li>
                                        <li>Keep up to date with the latest technologies and best practices.</li>
                                        <li>Creating Cross-Browsers optimized and responsive web pages / UI components.</li>
                                        <li>Creating Code Documentation.</li>
                                    </ul>
                                </div>
                                <div class="col-md-2">&nbsp;</div>
                                <div class="col-md-5">
                                    <p>Qualifications:</p>
                                    <ul class="listDetails">
                                        <li>We are looking for creative enthusiastic people who can take an idea seriously and develop it into a fully deployed project; a team player who can communicate constructively, listen, work as a problem-solver and show commitment to the team.</li>
                                        <li>Expert in coding advanced Angular/ REACT, HTML5, CSS3, JavaScript & jquery.</li>
                                        <li>Expert in Photoshop.</li>
                                        <li>User Experience techniques knowledge is a plus.</li>
                                        <li>Excellent communication skills.</li>
                                        <li>Ability to communicate in English (Reading and Writing) is crucial, please don't apply if you can't read/write English.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row m-0">
                                <div class="col-md-5">&nbsp;</div>
                                <div class="col-md-2 applyBtn">
                                    <button class="applyButton" id="applyUI">APPLY</button>
                                </div>
                                <div class="col-md-5">&nbsp;</div>
                            </div>
                        </div>
                    </div>

                    <div class="careersDetails">
                        <button class="collapsible">Software QC Specialist</button>
                        <div class="content">
                            <div class="row m-0">
                                <div class="col-md-5">
                                    <p>Job Description:</p>
                                    <ul class="listDetails">
                                        <li>Create and review test cases for each project.</li>
                                        <li>Identifying, reporting, and follow up found defects using the company issue tracking system.</li>
                                        <li>Analyzing and documenting test results.</li>
                                        <li>Work directly with the product development team in establishing product acceptance and performance criteria for new products.</li>
                                        <li>Be responsible for the analysis, reporting and communication of test results on all assigned projects.</li>
                                        <li>Help evaluate product and application defects reported by customers and make recommendations for their correction.</li>
                                    </ul>
                                </div>
                                <div class="col-md-2">&nbsp;</div>
                                <div class="col-md-5">
                                    <p>Qualifications:</p>
                                    <ul class="listDetails">
                                        <li>BSC Computer Science or Computer Engineering.</li>
                                        <li>1 to 2 years experience in software testing.</li>
                                        <li>Good knowledge and experience about quality concepts and standards.</li>
                                        <li>Good knowledge about defect life cycle, and testing procedures.</li>
                                        <li>Problem solver with a positive attitude and ability to interact with the team.</li>
                                        <li>Ability to work under stress and extra hours to achieve projects deadline.</li>
                                        <li>Excellent communication skills.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row m-0">
                                <div class="col-md-5">&nbsp;</div>
                                <div class="col-md-2 applyBtn">
                                    <button class="applyButton" id="applyAccountManager">APPLY</button>
                                </div>
                                <div class="col-md-5">&nbsp;</div>
                            </div>
                        </div>
                    </div>

                    <div class="careersDetails">
                        <button class="collapsible">Back End Developer</button>
                        <div class="content">
                            <div class="row m-0">
                                <div class="col-md-5">
                                    <p>Job Description:</p>
                                    <ul class="listDetails">
                                        <li>Design and develop databases using MySQL Database.</li>
                                        <li>Design & Develop Web and enterprise Applications.</li>
                                        <li>Creating Code Documentation</li>
                                    </ul>
                                </div>
                                <div class="col-md-2">&nbsp;</div>
                                <div class="col-md-5">
                                    <p>Qualifications:</p>
                                    <ul class="listDetails">
                                        <li>Experience in developing</li>
                                        <li>Extensive knowledge of OOP</li>
                                        <li>Web Services, Soap and XML Experience</li>
                                        <li>HTML, CSS and JQuery knowledge.</li>
                                        <li>PHP Experience is a plus.</li>
                                        <li>Hands on Linux</li>
                                        <li>Excellent communication skills</li>

                                    </ul>
                                </div>
                            </div>
                            <div class="row m-0">
                                <div class="col-md-5">&nbsp;</div>
                                <div class="col-md-2 applyBtn">
                                    <button class="applyButton" id="applyBackend">APPLY</button>
                                </div>
                                <div class="col-md-5">&nbsp;</div>
                            </div>
                        </div>
                    </div>

                    <div class="careersDetails">
                        <button class="collapsible">Linux System Administrator</button>
                        <div class="content">
                            <div class="row m-0">
                                <div class="col-md-5">
                                    <p>Job Description:</p>
                                    <ul class="listDetails">
                                        <li>Administrate the company live and testing servers</li>
                                        <li>Administrate the company database servers</li>
                                        <li>Create and maintain back up plans</li>
                                        <li>Administrate the company SVN servers</li>
                                        <li>Manage day to day deployment and server updates tasks</li>
                                        <li>Monitor and maintain the company servers security</li>
                                        <li>Identify software and hardware problems and fix issues quickly</li>
                                        <li>Create and maintain cron jobs and bash script</li>
                                        <li>Help the development team to resolve challenges related to environment/ servers and systems</li>
                                    </ul>
                                </div>
                                <div class="col-md-2">&nbsp;</div>
                                <div class="col-md-5">
                                    <p>Qualifications:</p>
                                    <ul class="listDetails">
                                        <li>BSC Computer Science / Computer Engineering</li>
                                        <li>1 - 2 years experience in Linux OS</li>
                                        <li>Experience in system administration</li>
                                        <li>Working knowledge of SVN, MYSQL, Apache, Tomcat, MySQL, Shell Scripting, CRON Jobs, and Backups.</li>
                                        <li>Experience in installing and configuring web and application servers.</li>
                                        <li>Amazon Web Service and Google Cloud Platform knowledge is a plus</li>
                                        <li>Windows Server knowledge is a plus</li>
                                        <li>Security programs standards awareness is a plus</li>
                                        <li>Problem solver with a positive attitude and ability to interact with the team</li>
                                        <li>Ability to work under stress and extra hours to achieve projects deadline</li>
                                        <li>Excellent communication skills</li>
                                        <li>The ability to communicate in English (Reading and Writing) is crucial</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row m-0">
                                <div class="col-md-5">&nbsp;</div>
                                <div class="col-md-2 applyBtn">
                                    <button class="applyButton" id="applySystemAdmin">APPLY</button>
                                </div>
                                <div class="col-md-5">&nbsp;</div>
                            </div>
                        </div>
                    </div>

                    <div class="careersDetails">
                        <button class="collapsible">Full Stack Software Developer</button>
                        <div class="content">
                            <div class="row m-0">
                                <div class="col-md-5">
                                    <p>Job Description:</p>
                                    <ul class="listDetails">
                                        <li>We are looking for creative enthusiastic people who can take an idea seriously and develop it into a fully deployed project; a team player who can communicate constructively, listen, work as a problem-solver and show commitment to the team.</li>
                                        <li>Design and develop Web, Enterprise, and Mobile Application.</li>
                                        <li>Design and develop databases Data Layers and Databases.</li>
                                        <li>Design & Develop Web and Enterprise Applications.</li>
                                        <li>Write well documented, maintainable, secured, and high-performance Application code.</li>
                                    </ul>
                                </div>
                                <div class="col-md-2">&nbsp;</div>
                                <div class="col-md-5">
                                    <p>Qualifications:</p>
                                    <ul class="listDetails">
                                        <li>Experience in Developing Mobile and ‎Web/ Enterprise applications, ‎Web Services/ APIs</li>
                                        <li>Extensive knowledge of OOP</li>
                                        <li>Web Services, Soap and XML Experience</li>
                                        <li>HTML, CSS, AJAX and JQuery knowledge.</li>
                                        <li>Hands-on Linux</li>
                                        <li>Experience with modern JavaScript frameworks.</li>
                                        <li>Nice to have Java/ Python/ PHP Experience</li>
                                        <li>Excellent communication skills</li>
                                        <li>Ability to communicate in English (Reading and Writing) is crucial, please don't apply if you can't read/write English.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row m-0">
                                <div class="col-md-5">&nbsp;</div>
                                <div class="col-md-2 applyBtn">
                                    <button class="applyButton" id="applyFullStack">APPLY</button>
                                </div>
                                <div class="col-md-5">&nbsp;</div>
                            </div>
                        </div>
                    </div>


                    <div class="careersDetails">
                        <button class="collapsible">Another Position</button>
                        <div class="content">
                            <div class="row m-0">
                                <div class="col-md-12">
                                    <h5>If you don't see a suitable job post and you still want to join our team,</h5>
                                    <h5>you can apply using the contact us form and mention the position you are interested in.</h5>
                                </div>
                            </div>
                            <div class="row m-0">
                                <div class="col-md-5">&nbsp;</div>
                                <div class="col-md-2 applyBtn mt-4">
                                    <button class="applyButton" id="applyAnotherPosition">APPLY</button>
                                </div>
                                <div class="col-md-5">&nbsp;</div>
                            </div>
                        </div>
                    </div>
                    
    
                </div>
            </div>
            <!-- End of careers details -->
        </div>
        <!-- End of careers content -->
        <!-- Footer Component -->
        <div class="footer">
            <div class="row m-0">
                <div class="col-md-1 spacing">&nbsp;</div>
                <div class="col-md-2">
                    <img class="footerLogo" src="../../assets/websiteLogo.png" alt="websiteLogo">
                </div>
                <div class="borders col-md-1 spacing">&nbsp;</div>
                <div class="col-md-2 paddingFooter">
                    <ul class="websiteContentFooter">
                        <a href="/whoWeAre.html" class="nav-item nav-link">WHO WE ARE</a>
                        <a href="/whyUs.html" class="nav-item nav-link">WHY US</a>
                        <a href="/whatWeDo.html" class="nav-item nav-link">WHAT WE DO</a>
                        <a href="/ourWork.html" class="nav-item nav-link">OUR WORK</a>
                        <a href="/careers.html" class="nav-item nav-link intouchLink">CAREERS</a>
                        <a href="/contactUs.html" class="nav-item nav-link">GET IN TOUCH</a>
                    </ul>
                </div>
                <div class="borders col-md-1 spacing">&nbsp;</div>
                <div class="col-md-4 px-5">
                    <ul class="websiteInfoFooter">
                        <li>
                            <img src="../../assets/branchesIcon.png" alt="branchesIcon">
                            <span class="pl-3">271 Abd El-Moneim Riad Street, off 26th of July Corridor, 6th of October City, Giza</span>
                        </li>
                        <li>
                            <img src="../../assets/mailIcon.png" alt="mailIcon">
                            <span class="pl-3">info@addpluses.com</span>
                        </li>
                        <li>
                            <span>Follow Us:</span>
                            <a class="socialMediaIcons" href="https://www.facebook.com/addpluses" target="_blank"><i class="fa fa-facebook-f"></i></a>
                            <a class="socialMediaIcons" href="https://il.linkedin.com/company/add-pluses" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a class="socialMediaIcons"><i class="fa fa-instagram"></i></a>

                        </li>
                    </ul>
                </div>
            </div>
            <div class="smallFooter">
                <p class="mb-0" id="add-pluses-year"></p>
            </div>
        </div>
        <!-- End Of Footer Component -->
        <script src="../../build/js/common.js"></script>      
        <script src="../../build/js/header.js"></script>      
        <script>
            // open & close careers section
            var coll = document.getElementsByClassName("collapsible");
            var i;
            
            for (i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight){
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                } 
                });
            }
        </script>
                    
    </body>
</html>