<!DOCTYPE html>
<html>
    <head>
        <title>ADD PLUSES</title>
        <meta charset="utf-8">
        <meta name="description" content="ADD pluses is a fully integrated creative technology house based in Cairo, Egypt, we have been passionate about helping brands and 
        startups embrace new technologies on the web, social media and mobile phones.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../build/style/whatWeDo.css">
        <link rel="stylesheet" href="../../build/style/whoWeAre.css">
        <link rel="stylesheet" href="../../build/style/whyUs.css">
        <link rel="stylesheet" href="../../build/style/contactUs.css">        
        <link rel="stylesheet" href="../../build/style/home.css">
        <link rel="stylesheet" href="../../build/style/mainStyle.css">
        <link rel="stylesheet" href="../../build/style/header.css">
        <link rel="stylesheet" href="../../build/style/menu/footer.css">
        <link rel="icon" href="../../assets/fav.ico">

    </head>
    <body>
        <!-- Header Component -->
        <nav class="navbar navbar-expand-md navbar-dark" id="myHeader">
            <a href="/index.html" class="navbar-brand"><img src="../../assets/websiteLogo.png" alt="websiteLogo"></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="/whoWeAre.html" class="nav-item nav-link tablinks" style="color: #fff">WHO WE ARE</a>
                    <a href="/whyUs.html" class="nav-item nav-link tablinks" style="color: #fff">WHY US</a>
                    <a href="/whatWeDo.html" class="nav-item nav-link tablinks" style="color: #fff">WHAT WE DO</a>
                    <a href="/ourWork.html" class="nav-item nav-link tablinks" style="color: #fff">OUR WORK</a>
                    <a href="/careers.html" class="nav-item nav-link tablinks" style="color: #fff">CAREERS</a>
                    <a id="selectedLink" href="/contactUs.html" class="nav-item nav-link tablinks intouch" style="color: #fff">GET IN TOUCH</a>
                </div>
            </div>
        </nav>
        <!-- End Of Header Component -->
        <hr class="my-0">

        <!-- contactUs Content -->
        <div class="contactUsContent">

            <!-- main content section-->
            <div class="mainDesc desktopOnly">
                    <img src="../../assets/contactUsBg.png" alt="contactUsBg" style="width: 100%;">
                    <span class="contactHeader">CONTACT</span>
                    <div class="mailContent">
                        <img src="../../assets/contactUsMail.png" alt="contactUsMail">
                        <span>info@addpluses.com</span>                       
                    </div>
    
                    <div class="phoneContent">
                        <img src="../../assets/phoneContactUs.png" alt="phoneContactUs">
                        <span>+201144446678</span>                       
                    </div>
    
                    <div class="addressContent">
                        <img src="../../assets/contactUsDirection.png" alt="contactUsDirection">
                        <span>271 Abd El-Moneim Riad Street, off 26th of July Corridor, 6th of October City, Giza</span>                       
                    </div>
    
                    <div class="getDirectionsContent">
                        <button class="getDirectionsBtn" onclick="window.open('https://www.google.com/maps/place/ADD+Pluses/@29.9993122,30.9753139,15z/data=!4m5!3m4!1s0x0:0xb3ac298f3bcfe0c0!8m2!3d29.9993122!4d30.9753139')">GET DIRECTION</button>
                    </div>
            </div>
    
            <div class="mainDesc mobileTablet">
                <span class="contactHeader">CONTACT</span>
                <div class="mailContent">
                    <img src="../../assets/contactUsMail.png" alt="contactUsMail">
                    <span>info@addpluses.com</span>                       
                </div>

                <div class="phoneContent">
                    <img src="../../assets/phoneContactUs.png" alt="phoneContactUs">
                    <span>+201144446678</span>                       
                </div>

                <div class="addressContent">
                    <img src="../../assets/contactUsDirection.png" alt="contactUsDirection">
                    <span>271 Abd El-Moneim Riad Street, off 26th of July Corridor, 6th of October City, Giza</span>                       
                </div>

                <div class="getDirectionsContent">
                    <button class="getDirectionsBtn" onclick="window.open('https://www.google.com/maps/place/ADD+Pluses/@29.9993122,30.9753139,15z/data=!4m5!3m4!1s0x0:0xb3ac298f3bcfe0c0!8m2!3d29.9993122!4d30.9753139','_self')">GET DIRECTION</button>
                </div>
            </div>
            <!-- End of main content section-->
    
            <!-- Get in touch section -->
            <div class="getInTouch">
                    <div class="containerGetInTouch py-5">
                        <span class="getInTouchHeader">GET IN TOUCH WITH US</span>
                        <div class="row m-0">
                            <div class="col-md-10 getInTouchSelection">
                                <form>
                                    <label for="position">I’m reaching out to you about:</label>
                                    <select name="getInTouchOptions" id="getInTouchOptions">
                                        <option value="startProjec" id="startProject">Start a project</option>
                                        <option value="applyingPosition" id="applyingPostion">Applying for a position</option>
                                        <option value="other" id="other">Other</option>
                                    </select>
                                    <br><br>
                                </form>
                            </div>
                        </div>
                        <form class="positionForm" style="display: none">
                            <div class="row m-0">
                                <div class="col-md-5">
                                    <input class="mt-3 pl-3 py-2 rounded-0" type="text" placeholder="Name" name="name">
                                </div>
                                <div class="col-md-1 spacing">&nbsp;</div>
                                <div class="col-md-5">
                                    <input class="mt-3 pl-3 py-2 rounded-0" type="number" placeholder="Phone" name="phone">
                                </div>
                            </div>
                            <div class="row m-0">
                                <div class="col-md-5">
                                    <input class="mt-3 pl-3 py-2 rounded-0" type="email" placeholder="Email" name="email">
                                </div>
                                <div class="col-md-1 spacing">&nbsp;</div>
                                <div class="col-md-5">
                                    <select class="mt-3 pl-3 py-2 rounded-0" name="positionsOptions" id="positionsOptions">
                                        <option value="ui" id="uiDev">UI Developer</option>
                                        <option value="accountManager" id="accountManag">Quality Control</option>
                                        <option value="backend" id="backendDev">Back-End Developer</option>
                                        <option value="linuxSystemAdmin" id="linuxSystemAdmin">Linux System Administrator</option>
                                        <option value="fullStackSw" id="fullStackSw">Full Stack Software Developer</option>
                                        <option value="anotherPosition" id="anotherPosition">Another Position</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row m-0" style="width: 97%">
                                <div class="col-md-11 mt-3 pl-3 py-2 uploadInput">
                                    <a href="">+ Upload your resume</a>
                                    <!-- <input class="mt-3 pl-3 py-2 rounded-0" type="" placeholder="" name="upload"> -->
                                </div>
                            </div>
                            <div class="row m-0">
                                <div class="col-md-11">
                                    <textarea class="mt-3 pl-3 py-2 rounded-0" rows="3" name="note">Add a note</textarea>
                                </div>
                            </div>
                            <div class="row m-0">
                                <div class="col-md-9 spacing">&nbsp;</div>
                                <div class="col-md-2 text-right">
                                    <button class="btn btn-primary mt-4 px-5 rounded-0">SEND</button>
                                </div>
                            </div>
                        </form>
    
                        <form class="otherForm" style="display: none">
                            <div class="row m-0">
                                <div class="col-md-5">
                                    <input class="mt-3 pl-3 py-2 rounded-0" type="text" placeholder="Name" name="name">
                                </div>
                                <div class="col-md-1 spacing">&nbsp;</div>
                                <div class="col-md-5">
                                    <input class="mt-3 pl-3 py-2 rounded-0" type="number" placeholder="Phone" name="phone">
                                </div>
                            </div>
                            <div class="row m-0">
                                <div class="col-md-5">
                                    <input class="mt-3 pl-3 py-2 rounded-0" type="email" placeholder="Email" name="email">
                                </div>
                                <div class="col-md-1 spacing">&nbsp;</div>
                                <div class="col-md-5">
                                    <input class="mt-3 pl-3 py-2 rounded-0" type="text" placeholder="Subject" name="subject">
                                </div>
                            </div>
                            <div class="row m-0">
                                <div class="col-md-11">
                                    <textarea class="mt-3 pl-3 py-2 rounded-0" rows="3" name="note">Your Message</textarea>
                                </div>
                            </div>
                            <div class="row m-0">
                                <div class="col-md-9 spacing">&nbsp;</div>
                                <div class="col-md-2 text-right">
                                    <button class="btn btn-primary mt-4 px-5 rounded-0">SEND</button>
                                </div>
                            </div>
                        </form>
    
                        <form class="projectForm">
                            <div class="row m-0">
                                <div class="col-md-5">
                                    <input class="mt-3 pl-3 py-2 rounded-0" type="text" placeholder="Name" name="name">
                                </div>
                                <div class="col-md-1 spacing">&nbsp;</div>
                                <div class="col-md-5">
                                    <input class="mt-3 pl-3 py-2 rounded-0" type="number" placeholder="Phone" name="phone">
                                </div>
                            </div>
                            <div class="row m-0">
                                <div class="col-md-5">
                                    <input class="mt-3 pl-3 py-2 rounded-0" type="email" placeholder="Email" name="email">
                                </div>
                                <div class="col-md-1 spacing">&nbsp;</div>
                                <div class="col-md-5">
                                    <input class="mt-3 pl-3 py-2 rounded-0" type="text" placeholder="Subject" name="subject">
                                </div>
                            </div>
                            <div class="row m-0">
                                <div class="col-md-5">
                                    <input class="mt-3 pl-3 py-2 rounded-0" type="text" placeholder="Pre-estimated budget" name="estimatedbudget">
                                </div>
                                <div class="col-md-1 spacing">&nbsp;</div>
                                <div class="col-md-5">
                                    <!-- <span>RFP/Requirements </span><a href="">+ Upload file (30 MB max)</a> -->
    
                                    <input class="mt-3 pl-3 py-2 rounded-0" type="text" placeholder="RFP/Requirements" name="requirements">
                                </div>
                            </div>
                            <div class="row m-0">
                                <div class="col-md-11">
                                    <textarea class="mt-3 pl-3 py-2 rounded-0" rows="3" name="note">Your Message</textarea>
                                </div>
                            </div>
                            <div class="row m-0">
                                <div class="col-md-9 spacing">&nbsp;</div>
                                <div class="col-md-2 text-right">
                                    <button class="btn btn-primary mt-4 px-5 rounded-0">SEND</button>
                                </div>
                            </div>
                        </form>
    
    
                    </div>
            </div>
            <!-- End of Get in touch section -->

            <!--The div element for the map -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d863.8269822227903!2d30.9747667291573!3d29.99931336030771!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14585717a900f759%3A0xb3ac298f3bcfe0c0!2sADD%20Pluses!5e0!3m2!1sen!2seg!4v1604313600891!5m2!1sen!2seg" width="1348" height="400" frameborder="0" style="border:0; max-width: 100%; width: 100%;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                
        </div>

        <!-- End of contactUs Content -->

        <!-- Footer Component -->
        <div class="footer">
            <div class="row m-0">
                <div class="col-md-1 spacing">&nbsp;</div>
                <div class="col-md-2">
                    <img class="footerLogo" src="../../assets/websiteLogo.png" alt="websiteLogo">
                </div>
                <div class="borders col-md-1 spacing">&nbsp;</div>
                <div class="col-md-2 paddingFooter">
                    <ul class="websiteContentFooter">
                        <a href="/whoWeAre.html" class="nav-item nav-link">WHO WE ARE</a>
                        <a href="/whyUs.html" class="nav-item nav-link">WHY US</a>
                        <a href="/whatWeDo.html" class="nav-item nav-link">WHAT WE DO</a>
                        <a href="/ourWork.html" class="nav-item nav-link">OUR WORK</a>
                        <a href="/careers.html" class="nav-item nav-link">CAREERS</a>
                        <a href="/contactUs.html" class="nav-item nav-link intouchLink">GET IN TOUCH</a>
                    </ul>
                </div>
                <div class="borders col-md-1 spacing">&nbsp;</div>
                <div class="col-md-4 px-5">
                    <ul class="websiteInfoFooter">
                        <li>
                            <img src="../../assets/branchesIcon.png" alt="branchesIcon">
                            <span class="pl-3">271 Abd El-Moneim Riad Street, off 26th of July Corridor, 6th of October City, Giza</span>
                        </li>
                        <li>
                            <img src="../../assets/mailIcon.png" alt="mailIcon">
                            <span class="pl-3">info@addpluses.com</span>
                        </li>
                        <li>
                            <span>Follow Us:</span>
                            <a class="socialMediaIcons" href="https://www.facebook.com/addpluses" target="_blank"><i class="fa fa-facebook-f"></i></a>
                            <a class="socialMediaIcons" href="https://il.linkedin.com/company/add-pluses" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a class="socialMediaIcons"><i class="fa fa-instagram"></i></a>

                        </li>
                    </ul>
                </div>
            </div>
            <div class="smallFooter">
                <p class="mb-0" id="add-pluses-year"></p>
            </div>
        </div>
        <!-- End Of Footer Component -->
        <script src="../../build/js/common.js"></script>      
        <script src="../../build/js/header.js"></script>      
        <script>
            // select position forms
            $("#getInTouchOptions").change(function(){
                if($(this).val() == "startProjec"){
                    $(".projectForm").slideDown(300);
                    $(".positionForm").slideUp(300);
                    $(".otherForm").slideUp(300);
                }
                else if($(this).val() == "applyingPosition"){
                    $(".positionForm").slideDown(300);
                    $(".projectForm").slideUp(300);
                    $(".otherForm").slideUp(300);
                }
                else if($(this).val() == "other"){
                    $(".otherForm").slideDown(300);
                    $(".positionForm").slideUp(300);
                    $(".projectForm").slideUp(300);
                }
            });

            $(document).ready(function () {
            // Handler for .ready() called.
            $('html, body').animate({
                scrollTop: $('.addressContent').offset().top
            }, 'slow');

            var queryString = window.location.search;
            if(queryString == "?position=UI"){
                $(".positionForm").css('display', 'block');
                $(".projectForm").css('display', 'none');
                $(".otherForm").css('display', 'none');
                document.getElementById("applyingPostion").selected = "true";
                document.getElementById("uiDev").selected = "true";
            }
            else if(queryString == "?position=QC"){  
                $(".positionForm").css('display', 'block');
                $(".projectForm").css('display', 'none');
                $(".otherForm").css('display', 'none');
                document.getElementById("applyingPostion").selected = "true";
                document.getElementById("accountManag").selected = "true";
            }
            else if(queryString == "?position=BE"){
                $(".positionForm").css('display', 'block');
                $(".projectForm").css('display', 'none');
                $(".otherForm").css('display', 'none');
                document.getElementById("applyingPostion").selected = "true";
                document.getElementById("backendDev").selected = "true";
            }
            else if(queryString == "?position=systemAdmin"){
                $(".positionForm").css('display', 'block');
                $(".projectForm").css('display', 'none');
                $(".otherForm").css('display', 'none');
                document.getElementById("applyingPostion").selected = "true";
                document.getElementById("linuxSystemAdmin").selected = "true";
            }
            else if(queryString == "?position=fullStack"){
                $(".positionForm").css('display', 'block');
                $(".projectForm").css('display', 'none');
                $(".otherForm").css('display', 'none');
                document.getElementById("applyingPostion").selected = "true";
                document.getElementById("fullStackSw").selected = "true";
            }
            else if(queryString == "?position=anotherPosition"){
                $(".positionForm").css('display', 'block');
                $(".projectForm").css('display', 'none');
                $(".otherForm").css('display', 'none');
                document.getElementById("applyingPostion").selected = "true";
                document.getElementById("anotherPosition").selected = "true";
            }

        });
            
        </script>
            

    </body>
</html>