<!DOCTYPE html>
<html>
    <head>
        <title>ADD PLUSES</title>
        <meta charset="utf-8">
        <meta name="description" content="ADD pluses is a fully integrated creative technology house based in Cairo, Egypt, we have been passionate about helping brands and 
        startups embrace new technologies on the web, social media and mobile phones.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../build/style/home.css">
        <link rel="stylesheet" href="../../build/style/ourWork.css">
        <link rel="stylesheet" href="../../build/style/mainStyle.css">
        <link rel="stylesheet" href="../../build/style/whoWeAre.css">
        <link rel="stylesheet" href="../../build/style/whatWeDo.css">
        <link rel="stylesheet" href="../../build/style/whyUs.css">
        <link rel="stylesheet" href="../../build/style/header.css">
        <link rel="stylesheet" href="../../build/style/menu/footer.css">
        <!-- <link rel="import" href="../templates/menu/header.html"> -->
        <link rel="icon" href="../../assets/fav.ico">
    </head>
    <body>
        <!-- Header Component -->
        <nav class="navbar navbar-expand-md navbar-dark" id="myHeader">
            <a href="/index.html" class="navbar-brand"><img src="../../assets/websiteLogo.png" alt="websiteLogo"></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="/whoWeAre.html" class="nav-item nav-link tablinks" style="color: #fff">WHO WE ARE</a>
                    <a href="/whyUs.html" class="nav-item nav-link tablinks" style="color: #fff">WHY US</a>
                    <a href="/whatWeDo.html" class="nav-item nav-link tablinks" style="color: #fff">WHAT WE DO</a>
                    <a id="selectedLink" href="/ourWork.html" class="nav-item nav-link tablinks" style="color: #fff">OUR WORK</a>
                    <a href="/careers.html" class="nav-item nav-link tablinks" style="color: #fff">CAREERS</a>
                    <a href="/contactUs.html" class="nav-item nav-link tablinks intouch" style="color: #fff">GET IN TOUCH</a>
                </div>
            </div>
        </nav>
        <!-- End Of Header Component -->
        <hr class="my-0">

        <!-- Our Work Content -->
        <div class="ourWorkContent">
            <!-- Our Work Section -->
            <div class="ourWorkSection">
                <div class="container py-5">
                    <div class="centeredText">
                        <span>SOME OF OUR WORK</span>
                    </div>
                    <!-- <img src="../../assets/addPlusesShape.png"> -->
                    <!-- Photo Grid -->
                    <div class="row ourWorkDetails"> 
                        <div class="column">
                            <a href="/projects/wazvaProject.html"><div class="workImgs"><img src="../../assets/wazvaCover.png" style="width:100%"></div></a>
                            <a href="/projects/xperienceProject.html"><div class="workImgs"><img src="../../assets/xperience.png" style="width:100%"></div></a>
                            <a href="/projects/soodyProject.html"><div class="workImgs"><img src="../../assets/so3odyProject.png" style="width:100%"></div></a>
                            <a href="/projects/malProject.html"><div class="workImgs"><img src="../../assets/malCover.png" style="width:100%"></div></a>
                        </div>
                        <div class="column2">
                            <a href="/projects/aboutgoogleProject.html"><div class="workImgs"><img src="../../assets/aboutgoogleCover.png" style="width:100%"></div></a>
                            <a href="/projects/syriaProject.html"><div class="workImgs"><img src="../../assets/syriaCover.png" style="width:100%"></div></a>
                            <a href="/projects/startgoogleProject.html"><div class="workImgs"><img src="../../assets/startgoogleCover.png" style="width:100%"></div></a>
                            <a href="/projects/arumProject.html"><div class="workImgs"><img src="../../assets/arumCover.png" style="width:100%"></div></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Of Our Work Section -->

            <!-- Our Clients Section -->
            <div class="ourClientsSection">
                <div class="container py-5">
                    <div class="centeredText">
                        <span>SOME OF OUR CLIENTS</span>
                    </div>
                    <div class="clientsContainer">

                        <div class="row mx-0 firstClientsRow clientsDesktop">
                            <div class="col-md-1">&nbsp;</div>
                            <div class="col-md-2">
                                <img class="clientsImage" src="../../assets/googlelogo_color_272x92dp.png" alt="googleLogo">
                            </div>
                            <div class="col-md-2">
                                <img class="clientsImage" src="../../assets/danon.png" alt="danon">
                            </div>
                            <div class="col-md-2">
                                <img class="clientsImage" src="../../assets/mobinil.png" alt="mobinil">
                            </div>
                            <div class="col-md-2">
                                <img src="../../assets/coca.png" alt="cocacola">
                            </div>
                            <!-- <div class="col-md-1">&nbsp;</div> -->
                            <div class="col-md-2">
                                <img class="clientsImage" src="../../assets/download.png" alt="download" style="height: 110px;">
                            </div>
                        </div>

                        <div class="row mx-0 mt-3 mobile">
                            <div class="col-sm-6 text-center">
                                <img class="clientsImage pr-3" src="../../assets/googlelogo_color_272x92dp.png" alt="googleLogo">
                                <img class="clientsImage pl-3 pt-1" src="../../assets/danon.png" alt="danon">
                            </div>
                        </div>   
                        <div class="row m-0 mobile pt-4">
                            <div class="col-sm-6 text-center">
                                <img class="clientsImage pr-3" src="../../assets/mobinil.png" alt="mobinil">
                                <img class="clientsImage pl-3" src="../../assets/coca.png" alt="cocacola">
                            </div>
                        </div>
                        <div class="row m-0 mobile pt-4">
                            <div class="col-sm-6 text-center">
                                <img class="clientsImage pr-3" src="../../assets/download.png" alt="download">
                                <img class="clientsImage pl-3" src="../../assets/sfs.png" alt="searchforsyria">
                            </div>
                        </div>

                        <div class="row m-0 clientsDesktop">
                            <div class="col-md-1">&nbsp;</div>
                            <div class="col-md-2">
                                <img class="clientsImage" src="../../assets/sfs.png" alt="searchforsyria">
                            </div>
                            <div class="col-md-2">
                                <img class="clientsImage pt-2" src="../../assets/new-chrome-logo.png" alt="chrome">
                            </div>
                            <div class="col-md-2">
                                <img class="clientsImage pt-3" src="../../assets/mal.png" alt="mal">
                            </div>
                            <div class="col-md-2">
                                <img class="clientsImage" src="../../assets/wazva_logo.png" alt="wazva">
                            </div>
                            <div class="col-md-2">
                                <img class="clientsImage pt-4" src="../../assets/youtube.png" alt="youtube">
                            </div>
                        </div>

                        <div class="row m-0 mobile pt-4">
                            <div class="col-sm-6 text-center">
                                <img class="clientsImage pr-3" src="../../assets/new-chrome-logo.png" alt="chrome">
                                <img class="clientsImage pl-3" src="../../assets/mal.png" alt="mal">
                            </div>
                        </div>  
                        <div class="row m-0 mobile pt-4">
                            <div class="col-sm-6 text-center">
                                <img class="clientsImage pr-3" src="../../assets/wazva_logo.png" alt="wazva">
                                <img class="clientsImage pl-3" src="../../assets/youtube.png" alt="youtube">
                            </div>
                        </div>

                        <div class="row mx-0 clientsDesktop">
                            <div class="col-md-1">&nbsp;</div>
                            <div class="col-md-2 pt-5">
                                <img class="clientsImage" src="../../assets/sprite-logo-1C8CE6BD76-seeklogo.com.png" alt="sprite">
                            </div>
                            <div class="col-md-2 pt-5">
                                <img class="clientsImage" src="../../assets/ahlybank.png" alt="ahlybank">
                            </div>
                            <div class="col-md-2">
                                <img class="clientsImage" src="../../assets/egypt.jpg" alt="egypt">
                            </div>
                            <div class="col-md-2 pt-5">
                                <img class="clientsImage" src="../../assets/aspn.png" alt="aspn">
                            </div>
                            <div class="col-md-2 pt-5">
                                <img class="clientsImage" src="../../assets/glambox.png" alt="glambox">
                            </div>
                        </div>

                        <div class="row m-0 mobile pt-5">
                            <div class="col-sm-6 text-center">
                                <img class="clientsImage pr-3" src="../../assets/sprite-logo-1C8CE6BD76-seeklogo.com.png" alt="sprite">
                                <img class="clientsImage pl-3" src="../../assets/ahlybank.png" alt="ahlybank">
                            </div>
                        </div>   
                        <div class="row m-0 mobile pt-5">
                            <div class="col-sm-6 text-center">
                                <img class="clientsImage pr-3" src="../../assets/egypt.jpg" alt="egypt">
                                <img class="clientsImage pl-3" src="../../assets/aspn.png" alt="aspn">
                            </div>
                        </div>
                        <div class="row m-0 mobile pt-5">
                            <div class="col-sm-6 text-center">
                                <img class="clientsImage pr-3" src="../../assets/glambox.png" alt="glambox">
                                <img class="clientsImage pl-3" src="../../assets/ebda2.png" alt="ebda2">
                            </div>
                        </div>     

                        <div class="row mx-0 clientsDesktop">
                            <div class="col-md-1">&nbsp;</div>
                            <div class="col-md-2 pt-5">
                                <img class="clientsImage" src="../../assets/ebda2.png" alt="ebda2">
                            </div>
                            <div class="col-md-2 pt-4">
                                <img class="clientsImage" src="../../assets/fanta.jpg" alt="fanta">
                            </div>
                            <div class="col-md-2 pt-5">
                                <img class="clientsImage" src="../../assets/canaries.png" alt="canaries">
                            </div>
                            <div class="col-md-2 pt-5">
                                <img class="clientsImage" src="../../assets/kfc.png" alt="kfc">
                            </div>
                            <div class="col-md-2 text-center">
                                <img class="" src="../../assets/etisalat.png" alt="etisalat">
                            </div>
                        </div>

                        <div class="row m-0 mobile pt-5">
                            <div class="col-sm-6 text-center">
                                <img class="clientsImage pr-3" src="../../assets/fanta.jpg" alt="fanta">
                                <img class="clientsImage pl-3" src="../../assets/canaries.png" alt="canaries">
                            </div>
                        </div>  
                        <div class="row m-0 mobile pt-5">
                            <div class="col-sm-6 text-center">
                                <img class="clientsImage pr-3" src="../../assets/kfc.png" alt="kfc">
                                <img class="clientsImage pl-3" src="../../assets/etisalat.png" alt="etisalat">
                            </div>
                        </div>                    
                    </div>

                    <!-- <div class="clientsContainer mobile text-center">
                        <div class="row mx-0 firstClientsRow">
                            <div class="col-md-2">
                                <img src="../../assets/googlelogo_color_272x92dp.png" alt="googleLogo">
                            </div>
                            <div class="col-md-2">
                                <img src="../../assets/danon.png" alt="danon">
                            </div>
                        </div>
                    </div> -->
                    
                </div>
            </div>
            <!-- End Of Our Clients Section -->

            <!-- Add Pluses An Idea Section -->
            <!-- desktop view -->
            <div class="haveAnIdea desktop">
                <img class="haveIdeaBg" src="../../assets/ideaBg.png" alt="have an idea background" style="width: 100%;">
                <h2 style="font-weight: 300">HAVE AN IDEA? <b>LET'S TALK ABOUT IT.</b></h2>
                <button class="startProject-button" onclick="goToContactUs()">START YOUR PROJECT NOW</button>
            </div>
            <!-- mobile -->
            <div class="haveAnIdeaMobile">
                <div class="haveAnIdeaContent pl-4 pt-5">
                    <h4>HAVE AN IDEA?</h4>
                    <h4><bold>LET'S TALK ABOUT IT.</bold></h4>
                </div>
                <div class="startProjectBtnMob">
                    <button class="startProject" onclick="goToContactUs()">START YOUR PROJECT NOW</button>
                </div>
            </div>
            <!-- End Of Add Pluses An Idea Section -->
        </div>
        <!-- End Of Our Work Content -->
        <hr class="my-0">

        <!-- Footer Component -->
        <div class="footer">
            <div class="row m-0">
                <div class="col-md-1 spacing">&nbsp;</div>
                <div class="col-md-2">
                    <img class="footerLogo" src="../../assets/websiteLogo.png" alt="websiteLogo">
                </div>
                <div class="borders col-md-1 spacing">&nbsp;</div>
                <div class="col-md-2 paddingFooter">
                    <ul class="websiteContentFooter">
                        <a href="/whoWeAre.html" class="nav-item nav-link">WHO WE ARE</a>
                        <a href="/whyUs.html" class="nav-item nav-link">WHY US</a>
                        <a href="/whatWeDo.html" class="nav-item nav-link">WHAT WE DO</a>
                        <a href="/ourWork.html" class="nav-item nav-link intouchLink">OUR WORK</a>
                        <a href="/careers.html" class="nav-item nav-link">CAREERS</a>
                        <a href="/contactUs.html" class="nav-item nav-link">GET IN TOUCH</a>
                    </ul>
                </div>
                <div class="borders col-md-1 spacing">&nbsp;</div>
                <div class="col-md-4 px-5">
                    <ul class="websiteInfoFooter">
                        <li>
                            <img src="../../assets/branchesIcon.png" alt="branchesIcon">
                            <span class="pl-3">271 Abd El-Moneim Riad Street, off 26th of July Corridor, 6th of October City, Giza</span>
                        </li>
                        <li>
                            <img src="../../assets/mailIcon.png" alt="mailIcon">
                            <span class="pl-3">info@addpluses.com</span>
                        </li>
                        <li>
                            <span>Follow Us:</span>
                            <a class="socialMediaIcons" href="https://www.facebook.com/addpluses" target="_blank"><i class="fa fa-facebook-f"></i></a>
                            <a class="socialMediaIcons" href="https://il.linkedin.com/company/add-pluses" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a class="socialMediaIcons"><i class="fa fa-instagram"></i></a>

                        </li>
                    </ul>
                </div>
            </div>
            <div class="smallFooter">
                <p class="mb-0" id="add-pluses-year"></p>
            </div>
        </div>
        <!-- End Of Footer Component -->
        <script src="../../build/js/common.js"></script>      
        <script src="../../build/js/header.js"></script>      
    </body>
</html>