<!DOCTYPE html>
<html>
    <head>
        <title>ADD PLUSES</title>
        <meta charset="utf-8">
        <meta name="description" content="ADD pluses is a fully integrated creative technology house based in Cairo, Egypt, we have been passionate about helping brands and 
        startups embrace new technologies on the web, social media and mobile phones.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../build/style/whoWeAre.css">
        <link rel="stylesheet" href="../../build/style/home.css">
        <link rel="stylesheet" href="../../build/style/mainStyle.css">
        <link rel="stylesheet" href="../../build/style/header.css">
        <link rel="stylesheet" href="../../build/style/menu/footer.css">
        <!-- <link rel="import" href="../templates/menu/header.html"> -->
        <link rel="icon" href="../../assets/fav.ico">

    </head>
    <body>

        <!-- Header Component -->
        <nav class="navbar navbar-expand-md navbar-dark" id="myHeader">
            <a href="/index.html" class="navbar-brand"><img src="../../assets/websiteLogo.png" alt="websiteLogo"></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a id="selectedLink" href="/whoWeAre.html" class="nav-item nav-link tablinks" style="color: #fff">WHO WE ARE</a>
                    <a href="/whyUs.html" class="nav-item nav-link tablinks" style="color: #fff">WHY US</a>
                    <a href="/whatWeDo.html" class="nav-item nav-link tablinks" style="color: #fff">WHAT WE DO</a>
                    <a href="/ourWork.html" class="nav-item nav-link tablinks" style="color: #fff">OUR WORK</a>
                    <a href="/careers.html" class="nav-item nav-link tablinks" style="color: #fff">CAREERS</a>
                    <a href="/contactUs.html" class="nav-item nav-link tablinks intouch" style="color: #fff">GET IN TOUCH</a>
                </div>
            </div>
        </nav>
        <!-- End Of Header Component -->
        <hr class="my-0">
        <!-- who we are Content -->
        <div class="content">
            <!-- main content section-->
            <div class="mainDesc">
                <img class="bgDesktop desktopOnly" src="../../assets/whoweareBg.png" alt="whoweareBg" style="width: 100%;">
                <img class="addPlusesLogo" src="../../assets/add-pluses-logo.png" alt="add pluses logo">
                <p class="firstDescription">ADD pluses is a fully integrated creative technology house based in Cairo, Egypt.</p>
                <p class="secondDescription">Since our birth in 2008, we have been passionate about helping brands and 
startups embrace new technologies on the web, social media and mobile phones.</p>
            </div>
            <!-- End of main content section-->

            <!-- about us section -->
            <div class="container my-5">
                <div class="row about-us-section">
                    <div class="col-md-3 oneElement">
                        <img src="../../assets/tailor maid.svg" alt="tailor maid">
                        <p>We are specialized in creating, delivering and tracking innovative, scalable solutions that add value to brands tailored and customized to their business needs.</p>
                    </div>
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-3 oneElement">
                        <img src="../../assets/badge.svg" alt="badge">
                        <p>Over the years we have built a strong reputation working with clients like Google, Coca Cola, Mobinil, Etisalat, KFC, Kraft, and many other reputable brands.</p>
                    </div>
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-3 oneElement">
                        <img src="../../assets/map.svg" alt="map">
                        <p>Today, served by our two main offices in Cairo and London, we take the challenge up to regional and international levels by operating in GCC, North Africa, Levant markets Europe, as well as the UK.</p>
                    </div>
                </div>
            </div>
            <!-- End of about us section -->

            <!-- Add Pluses An Idea Section -->
            <!-- desktop view -->
            <div class="haveAnIdea desktopOnly">
                <img class="haveIdeaBg" src="../../assets/ideaBg.png" alt="have an idea background" style="width: 100%;">
                <h2 style="font-weight: 300">HAVE AN IDEA? <bold style="font-weight: 700">LET'S TALK ABOUT IT.</bold></h2>
                <button class="startProject-button" onclick="goToContactUs()">START YOUR PROJECT NOW</button>
            </div>
            <!-- mobile -->
            <div class="haveAnIdeaMobile mobileTablet">
                <div class="haveAnIdeaContent pl-4 pt-5">
                    <h4>HAVE AN IDEA?</h4>
                    <h4><bold>LET'S TALK ABOUT IT.</bold></h4>
                </div>
                <div class="startProjectBtnMob">
                    <button class="startProject" onclick="goToContactUs()">START YOUR PROJECT NOW</button>
                </div>
            </div>
            <!-- End Of Add Pluses An Idea Section -->

            <!-- start project form -->
            <div class="startProjectForm" style="display: none;">
                <div class="container py-5">
                    <form class="" action="">
                        <div class="row mt-4">
                            <div class="col-md-1">&nbsp;</div>
                            <div class="col-md-5 mt-2">
                                <input class="mt-3 pl-3 py-2 rounded-0" type="text" placeholder="Name" name="name">
                            </div>
                            <div class="col-md-5 mt-2">
                                <input class="mt-3 pl-3 py-2 rounded-0" type="number" placeholder="Phone" name="phone">
                            </div>
                            <div class="col-md-1">&nbsp;</div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">&nbsp;</div>
                            <div class="col-md-5 mt-2">
                                <input class="mt-3 pl-3 py-2 rounded-0" type="text" placeholder="Email" name="email">
                            </div>
                            <div class="col-md-5 mt-2">
                                <input class="mt-3 pl-3 py-2 rounded-0" type="text" placeholder="Subject" name="subject">
                            </div>
                            <div class="col-md-1">&nbsp;</div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">&nbsp;</div>
                            <div class="col-md-5 mt-2">
                                <input class="mt-3 pl-3 py-2 rounded-0" type="number" placeholder="Pre-estimated budget" name="estimated budget">
                            </div>
                            <div class="col-md-5 mt-2">
                                <input class="mt-3 pl-3 py-2 rounded-0" placeholder="RFP/Requirements" name="RFP/Requirements">
                            </div>
                            <div class="col-md-1">&nbsp;</div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">&nbsp;</div>
                            <div class="col-md-10 mt-2">
                                <textarea rows="4" class="mt-3 pl-3 py-2 rounded-0" type="text" name="yourMessage">Your Message</textarea>
                            </div>
                            <div class="col-md-1">&nbsp;</div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">&nbsp;</div>
                            <div class="col-md-2 text-right">
                                <button class="btn btn-primary mt-4 px-5 rounded-0">SEND</button>
                            </div>
                        </div>
                    </form>
                </div>
                <hr style="background-color: #4285f4;">
            </div>
            <!-- End of start project form -->


                
            <!-- We have section -->
            <div class="container my-5">
                <div class="weHave">
                    <h1>WE HAVE</h1>
                    <p>A team of untraditional creative thinkers with an Agile mindset with a combined +15 Years experience in Technology and Business in the Digital and IT industry, We strive to become the preferred technology partner for our clients helping them build the most efficient, reliable and user-centric tailored solutions to make their users’ life easier.</p>
                </div>
                <div class="row whoAre weHave">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <h1>WHO ARE</h1>
                        <p>Skilled in creating a solution that reflects your brand image and highlight your brand personality.</p>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <h1>PIONEERS IN</h1>
                        <p>Designing and developing Digital Experience, Web-based applications, Mobile Applications, E-commerce systems, video on demand platforms, Enterprise Solutions, interactive apps and digital ads.</p>
                    </div>
                </div>
            </div>
            <!-- End of We have section -->

            <!-- Our Values -->
            <!-- Desktop -->
            <div class="ourValuesDesktop desktopOnly">
                <img src="../../assets/our values bg.png" alt="ourValuesBg" style="width: 100%;">
                <h1 class="ourValuesText">OUR VALUES</h1>
                <h1 class="efficiencyText">Efficiency,</h1>
                <h1 class="integrityText">Integrity,</h1>
                <h1 class="innovationText">and Innovation.</h1>

            </div>
            <!-- Mobile -->
            <div class="ourValuesMobile mobileTablet">
                <div style="text-align: center; padding: 2rem;">
                    <span class="ourValuesText">OUR VALUES</span>
                    <p class="efficiencyText mt-5 mb-0">Efficiency,</p>
                    <p class="integrityText mb-0">Integrity,</p>
                    <p class="innovationText">and Innovation.</p>
                </div>
            </div>
            <!-- End Of Our Values -->

            <!-- company profile section -->
            <!-- Desktop -->
            <div class="companyProfile desktopOnly">
                <img src="../../assets/ourCompanyProfile.png" alt="ourCompanyProfile" style="width: 100%;">
                <h1>GET OUR <b>COMPANY PROFILE</b> NOW</h1>
                <button onclick="window.open('https://drive.google.com/file/d/18O18ftebNYKgI46XMhdHfHY0873OAOQr/view?ts=5fc63ca2')">DOWNLOAD</button>
            </div>
            <!-- Mobile -->
            <div class="companyProfile mobileTablet" style="text-align: center; padding: 2rem;">
                <h4>GET OUR <b>COMPANY PROFILE</b> NOW</h4>
                <button onclick="window.open('https://drive.google.com/file/d/18O18ftebNYKgI46XMhdHfHY0873OAOQr/view?ts=5fc63ca2')">DOWNLOAD</button>
            </div>
            <!-- End of company profile section -->



        </div>
        <!-- who we are Content -->

        <!-- Footer Component -->
        <div class="footer">
            <div class="row m-0">
                <div class="col-md-1 spacing">&nbsp;</div>
                <div class="col-md-2">
                    <img class="footerLogo" src="../../assets/websiteLogo.png" alt="websiteLogo">
                </div>
                <div class="borders col-md-1 spacing">&nbsp;</div>
                <div class="col-md-2 paddingFooter">
                    <ul class="websiteContentFooter">
                        <a href="/whoWeAre.html" class="nav-item nav-link intouchLink">WHO WE ARE</a>
                        <a href="/whyUs.html" class="nav-item nav-link">WHY US</a>
                        <a href="/whatWeDo.html" class="nav-item nav-link">WHAT WE DO</a>
                        <a href="/ourWork.html" class="nav-item nav-link">OUR WORK</a>
                        <a href="/careers.html" class="nav-item nav-link">CAREERS</a>
                        <a href="/contactUs.html" class="nav-item nav-link">GET IN TOUCH</a>
                    </ul>
                </div>
                <div class="borders col-md-1 spacing">&nbsp;</div>
                <div class="col-md-4 px-5">
                    <ul class="websiteInfoFooter">
                        <li>
                            <img src="../../assets/branchesIcon.png" alt="branchesIcon">
                            <span class="pl-3">271 Abd El-Moneim Riad Street, off 26th of July Corridor, 6th of October City, Giza</span>
                        </li>
                        <li>
                            <img src="../../assets/mailIcon.png" alt="mailIcon">
                            <span class="pl-3">info@addpluses.com</span>
                        </li>
                        <li>
                            <span>Follow Us:</span>
                            <a class="socialMediaIcons" href="https://www.facebook.com/addpluses" target="_blank"><i class="fa fa-facebook-f"></i></a>
                            <a class="socialMediaIcons" href="https://il.linkedin.com/company/add-pluses" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a class="socialMediaIcons"><i class="fa fa-instagram"></i></a>

                        </li>
                    </ul>
                </div>
            </div>
            <div class="smallFooter">
                <p class="mb-0" id="add-pluses-year"></p>
            </div>
        </div>
        <!-- End Of Footer Component -->
                    
        <!-- End Of Home Content -->
        <script src="../../build/js/common.js"></script>      
        <script src="../../build/js/header.js"></script>      
        <script>
            // open & close start project form
            $(".startProject-button").click(function(){
                $(".startProjectForm").slideToggle(300);
            })
        </script>

    </body>
</html>