<!DOCTYPE html>
<html>
    <head>
        <title>ADD PLUSES</title>
        <meta charset="utf-8">
        <meta name="description" content="ADD pluses is a fully integrated creative technology house based in Cairo, Egypt, we have been passionate about helping brands and 
        startups embrace new technologies on the web, social media and mobile phones.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../build/style/whyUs.css">
        <link rel="stylesheet" href="../../build/style/home.css">
        <link rel="stylesheet" href="../../build/style/mainStyle.css">
        <link rel="stylesheet" href="../../build/style/header.css">
        <link rel="stylesheet" href="../../build/style/menu/footer.css">
        <!-- <link rel="import" href="../templates/menu/header.html"> -->
        <link rel="icon" href="../../assets/fav.ico">

    </head>
    <body>
        <!-- Header Component -->
        <nav class="navbar navbar-expand-md navbar-dark" id="myHeader">
            <a href="/index.html" class="navbar-brand"><img src="../../assets/websiteLogo.png" alt="websiteLogo"></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="/whoWeAre.html" class="nav-item nav-link tablinks" style="color: #fff">WHO WE ARE</a>
                    <a id="selectedLink" href="/whyUs.html" class="nav-item nav-link tablinks" style="color: #fff">WHY US</a>
                    <a href="/whatWeDo.html" class="nav-item nav-link tablinks" style="color: #fff">WHAT WE DO</a>
                    <a href="/ourWork.html" class="nav-item nav-link tablinks" style="color: #fff">OUR WORK</a>
                    <a href="/careers.html" class="nav-item nav-link tablinks" style="color: #fff">CAREERS</a>
                    <a href="/contactUs.html" class="nav-item nav-link tablinks intouch" style="color: #fff">GET IN TOUCH</a>
                </div>
            </div>
        </nav>
        <!-- End Of Header Component -->
        <hr class="my-0">

        <!-- Add pluses in numbers section -->
        <div class="addplusesNumbers">
            <div class="container py-5">
                <span class="mainHeaderNumbers">ADD PLUSES IN NUMBERS</span>
                <div class="row m-0 pt-5">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-4">
                        <div class="numbersContent">
                            <span>+350</span>
                            <h4>DELIVERED PROJECTS</h4>                            
                        </div>
                    </div>
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-4">
                        <div class="numbersContent">
                            <span>+1.2M</span>
                            <h4>HOURS OF DEVELOPMENT</h4>                            
                        </div>
                    </div>         
                </div>

                <div class="row m-0 removeSpacing">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-4">
                        <div class="numbersContent">
                            <span>+16</span>
                            <h4>YEARS OF EXPERIENCE</h4>                            
                        </div>
                    </div>
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-4">
                        <div class="numbersContent">
                            <span>+123</span>
                            <h4>HAPPY CLIENTS</h4>                            
                        </div>
                    </div>         
                </div>      
            </div>
        </div>
        <!-- End Of Add pluses in numbers section -->
        <hr class="my-0">

        <!-- Add Pluses An Idea Section -->
        <!-- desktop view -->
        <div class="haveAnIdea desktopOnly">
            <img class="haveIdeaBg" src="../../assets/ideaBg.png" alt="have an idea background" style="width: 100%;">
            <h2 style="font-weight: 300">HAVE AN IDEA? <b>LET'S TALK ABOUT IT.</b></h2>
            <button class="startProject-button" onclick="goToContactUs()">START YOUR PROJECT NOW</button>
        </div>
        <!-- mobile -->
        <div class="haveAnIdeaMobile mobileTablet">
            <div class="haveAnIdeaContent pl-5 pt-5">
                <h4 class="mobile">HAVE AN IDEA?</h4>
                <h4 class="mobile"><b>LET'S TALK ABOUT IT.</b></h4>
                <h4 class="tablet text-center">HAVE AN IDEA? <b>LET'S TALK ABOUT IT.</b></h4>
            </div>
            <div class="startProjectBtnMob">
                <button class="startProject" onclick="goToContactUs()">START YOUR PROJECT NOW</button>
            </div>
        </div>
        <!-- End Of Add Pluses An Idea Section -->

        <!-- our Competencies section -->
        <div class="competencies">
            <div class="container py-5">
                <span>OUR COMPETENCIES</span>
                <div class="row m-0">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-2">
                        <img src="../../assets/list-02.svg" alt="competenciesList">
                    </div>
                    <div class="col-md-5">
                        <h3>OUR PROCESS</h3>
                        <p class="listDetails">We have a diverse competent team with  an Agile mindset that is focusing 100% on the results and following an effective process that is engaging our teams and yours leading towards achieving goals efficiently.</p>
                    </div>
                </div>

                <div class="row m-0">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-2">
                        <img src="../../assets/flag-02.svg" alt="competenciesFlag">
                    </div>
                    <div class="col-md-5">
                        <h3>ADVANTAGES</h3>
                        <ul class="listDetails">
                            <li>Dedicated development team</li>
                            <li>Agile mindset and Incremental Deliverables</li>
                            <li>Flexibility and High tolerance to Change </li>
                            <li>Full-time communication with the team</li>
                            <li>Smaller releases</li>
                            <li>Easier to manage</li>
                            <li>Ongoing improvements</li>
                            <li>A better understanding of business needs</li>
                            <li>UAT period is set, comments are applied to be delivered with next release/ iterations</li>
                        </ul>
                    </div>
                </div>
                    
            </div>
        </div>
        <!-- End of our Competencies section -->

        <!-- Kickoff Section -->
        <div class="kickoff">
            <div class="container py-5">
                <div class="row m-0">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-2">
                        <img src="../../assets/time.svg" alt="kickoffTime">
                    </div>
                    <div class="col-md-5">
                        <h2><b>KICK OFF</b> YOUR PROJECT IN LESS THAN <b>2 WEEKS</b></h2>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-6">
                        <p>We have experience and flexibility and the technical capabilities to form team get ready to kick off your project in less than 2 weeks after the agreement.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Kickoff Section -->

        <!-- communication plan -->
        <div class="competencies">
            <div class="container py-5">
                <span>COMMUNICATION PLAN</span>
                <div class="row m-0">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-2">
                        <img src="../../assets/communication-02.svg" alt="communication">
                    </div>
                    <div class="col-md-5">
                        <ul class="listDetails">
                            <li>Complete access to work progress</li>
                            <li>Communication all day with team members</li>
                            <li>Bi-Weekly Status Reports</li>
                            <li>Frequency of Status Meetings with Stakeholders</li>
                        </ul>
                    </div>
                </div>       
            </div>
        </div>
        <!-- End of communication plan -->


        <!-- Add Pluses An Idea Section -->
        <!-- desktop view -->
        <div class="haveAnIdea desktopOnly">
            <img class="haveIdeaBg" src="../../assets/ideaBg.png" alt="have an idea background" style="width: 100%;">
            <h2 style="font-weight: 300">HAVE AN IDEA? <b>LET'S TALK ABOUT IT.</b></h2>
            <button class="startProject-button" onclick="goToContactUs()">START YOUR PROJECT NOW</button>
        </div>
        <!-- mobile -->
        <div class="haveAnIdeaMobile mobileTablet">
            <div class="haveAnIdeaContent pl-5 pt-5">
                <h4 class="mobile">HAVE AN IDEA?</h4>
                <h4 class="mobile"><b>LET'S TALK ABOUT IT.</b></h4>
                <h4 class="tablet text-center">HAVE AN IDEA? <b>LET'S TALK ABOUT IT.</b></h4>
            </div>
            <div class="startProjectBtnMob">
                <button class="startProject" onclick="goToContactUs()">START YOUR PROJECT NOW</button>
            </div>
        </div>
        <!-- End Of Add Pluses An Idea Section -->

        <!-- markets section -->
        <div class="competencies">
            <div class="container py-5">
                <span>MARKETS WE WORK IN</span>
                <img class="marketsImg" src="../../assets/marketsWorkOn.png" alt="marketsWeWorkIn">
            </div>
        </div>
        <!-- markets section -->
    
        <!-- Footer Component -->
        <div class="footer">
            <div class="row m-0">
                <div class="col-md-1 spacing">&nbsp;</div>
                <div class="col-md-2">
                    <img class="footerLogo" src="../../assets/websiteLogo.png" alt="websiteLogo">
                </div>
                <div class="borders col-md-1 spacing">&nbsp;</div>
                <div class="col-md-2 paddingFooter">
                    <ul class="websiteContentFooter">
                        <a href="/whoWeAre.html" class="nav-item nav-link">WHO WE ARE</a>
                        <a href="/whyUs.html" class="nav-item nav-link intouchLink">WHY US</a>
                        <a href="/whatWeDo.html" class="nav-item nav-link">WHAT WE DO</a>
                        <a href="/ourWork.html" class="nav-item nav-link">OUR WORK</a>
                        <a href="/careers.html" class="nav-item nav-link">CAREERS</a>
                        <a href="/contactUs.html" class="nav-item nav-link">GET IN TOUCH</a>
                    </ul>
                </div>
                <div class="borders col-md-1 spacing">&nbsp;</div>
                <div class="col-md-4 px-5">
                    <ul class="websiteInfoFooter">
                        <li>
                            <img src="../../assets/branchesIcon.png" alt="branchesIcon">
                            <span class="pl-3">271 Abd El-Moneim Riad Street, off 26th of July Corridor, 6th of October City, Giza</span>
                        </li>
                        <li>
                            <img src="../../assets/mailIcon.png" alt="mailIcon">
                            <span class="pl-3">info@addpluses.com</span>
                        </li>
                        <li>
                            <span>Follow Us:</span>
                            <a class="socialMediaIcons" href="https://www.facebook.com/addpluses" target="_blank"><i class="fa fa-facebook-f"></i></a>
                            <a class="socialMediaIcons" href="https://il.linkedin.com/company/add-pluses" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a class="socialMediaIcons"><i class="fa fa-instagram"></i></a>

                        </li>
                    </ul>
                </div>
            </div>
            <div class="smallFooter">
                <p class="mb-0" id="add-pluses-year"></p>
            </div>
        </div>
        <!-- End Of Footer Component -->
        <script src="../../build/js/common.js"></script>      
        <script src="../../build/js/header.js"></script>      
    </body>
</html>